body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: seagreen;
}
h3{
    text-align: center;
    font-stretch: 6px;
    text-transform: capitalize;
}
.banner{
    color: white;
    text-align: center;
    height: 330px;
}

.liga td{
    color: white;
    text-align: center;
    width: 170px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
}
.liga td:hover{
    background-color: white;
    color: black;
}
.main{
    color: white;
    clear: both;
}
.lewy{
    background-color: whitesmoke;
    width: 30%;
    text-align: center;
    height: 150px;
    float: left;
}
.prawy{
    background-color: whitesmoke;
    width: 70%;
    height: 150px;
    float: left;
}
